.Identifier { color: #00ffff; }
.PreProc { color: #ff40ff; }
.Directory { color: #8080ff; }
.Constant { color: #ff6060; }
.MoreMsg { color: #00ff00; }
.Special { color: #ff40ff; }
.WarningMsg { color: #ff6060; }
.Type { color: #00ff00; }
